hr {
  margin: 0;
}
#navbar {
  background-color: rgba(224, 28, 28, 0.87);
}
ul {
  margin: 0;
  padding: 10px 5px;
}
li {
  display: inline;
}
#navbar a:hover {
  background-color: white;
  border-radius:20px;
  color: rgba(224, 28, 28, 0.87);
}
#navbar a {
  padding: 10px;
  margin-right:20px;
  color: white;

  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 491px) {
    #navbar li {
      font-size: 12px;
    }
}
